* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
    max-width: 1440px;
}


body {
    background-color: white;
    font-size: 18px;
    width: 68%;
    margin: auto;
    height: 100%;


}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    margin-right: 15px;
}


p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-right: 15px;
}


.img {
    width: 350px;
    height: 250px;
}
.topimg {
    width: 430px;
    height: 320px;
}
.container,
.subcontainer,
.lastcontainer {
    display: flex;
}
.container {
    margin-bottom: 30px;
    border-radius: 30px;
    border: 3px solid hsl(193, 100%, 96%);
    padding: 40px;
}
.lastcontainer {
    margin-bottom: 200px;
    border-radius: 30px;
    border: 3px solid hsl(193, 100%, 96%);
    padding: 40px;
}


#topper {
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 40px;


}

.subcontainer {
    margin-bottom: 17px;
}

.logo {
    width: 130px;
    height: 20px
}
.free {
    float: right;
    margin-left: 550px;
    padding: 7px 27px;
    border-radius: 30px;
    background-color: white;
    border: none;


}
.start {
    margin: 15px 8px;
    padding: 9px 30px;
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    border: none;


}
.startlink {
    text-decoration: none;
    color: hsl(193, 100%, 96%);

}

.freelink {
    text-decoration: none;
    color: hsl(192, 100%, 9%);


}
header {
    background-image: url('bg-hero-desktop.svg');
    display: flex;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: hsl(193, 100%, 96%);
}
.logobottom {
    width: 130px;
    height: 20px
}
.non-container {
    background-color: white;
    position: absolute;
    top: 1630px;
    right: 250px;
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border: 3px solid hsl(193, 100%, 96%);
    padding: 50px;
    justify-content: center;
}


.get {
    margin: 15px 70px;
    padding: 17px 60px;
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    border: none;
}
.getlink {
    text-decoration: none;
    color: hsl(193, 100%, 96%)
}
.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 50px 30px;
    display: grid;
    grid-template-areas: 'a a a a' 'b e h k' 'c f i i' 'd g j j';
    position: relative;
}

.div1 {
    grid-area: a;
}
.div2 {
    grid-area: b;
    color: hsl(193, 100%, 96%);
    font-size: 13px;

}
.div3 {
    grid-area: c;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div4 {
    grid-area: d;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div5 {
    grid-area: e;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div6 {
    grid-area: f;
    color: hsl(193, 100%, 96%);
    font-size: 13px;

}
.div7 {
    grid-area: g;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div8 {
    grid-area: h;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div9 {
    grid-area: i;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div10 {
    grid-area: j;
    color: hsl(193, 100%, 96%);
    font-size: 13px;


}
.div11 {
    grid-area: k;


}
.div11 img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}
#footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    font-size: 8px;
    margin-top: 80px;

}
